{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block main %}
    <h1 class="header">Красная Роза</h1>
    <h2 class="subheader">Магазин женской одежды</h2>
    <img src="/static/img/clothings.jpg" alt="clothings" class="header_img">
    <div class="descr">
        <h3>История</h3>
        <p class="text"><span>Наша история началась в 2014 году</span> с открытия магазина по адресу Москва, Ленинский проспект 34/1(м.Ленинский проспект).</p>
        <p>Несмотря на начинающийся кризис, полное отсутствие пешеходных потоков и высокую арендную плату наш магазин уверенно набрал популярность и базу постоянных платежеспособных клиентов, благодоря активному продвижению страницы в Instagram и уникальному востребованному фссщртименту.</p>
        <h3>Сегодня</h3>
        <ul>
            <li>103 000 "живых" подписчиков</li>
            <p>подписано на наш аккаунт в Instagram</p>
            <li>Наш магазин пользуется популярностью у звезд шоу-бизнеса:</li>
            <p>Ольги Бузовой, Кристины Асумс, Полины Гагариной, Марии Погребнюк и многих других.</p>
            <li>Финансовая стабильность</li>
            <p>- Ежемесячно мы стабильно платим арендную плату в размере 220 000 рублей;</p>
            <p>-Поддерживаем постоянно широкий ассортимент продукции, регулярно обновляя коллекции;</p>
            <p>-В штате бутика достаточное количество высокооплачиваемых опытных продавцов-консультантов</p>
        </ul>
        <h3>Перспективы</h3>
        <ul>
            <li>3 магазина будет открыто</li>
            <p>в крупнейших торгово развлекательных центрах в течении 1,5 лет</p>
            <li>Реклама и развлитие группы Instagram</li>
            <p>по прогнозам наших маркетологов за ближайший 1 год численность подписчиков увеличилась на 70% и достигла 1800 000 человек</p>
            <li>Подключение новых рекламных каналов</li>
            <p>и тестирование их эффективности</p>
        </ul>
    </div>
{% endblock %}